

<%= link_to("<< Back to List", {:action => 'list'}, :class => 'back-link') %>


  <h2>Delete Flat Holder</h2>
  
  <%= form_for(:create_owner, :url => {:action => 'destroy', :id => @create_owner.id}) do |f| -%>

    <p>Are you sure you want to permanently delete this subject?</p>
  
    <p class="reference-name"><%= @create_owner.name %></p>
  
    <div class="form-buttons">
      <%= submit_tag("Delete Owner") %>
    </div>
    
  <% end %>

